.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}
.heading_container {
  display: block;
}
.heading_container .heading {
  font-size: 24px;
}
.header_buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.import_layout_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.export_layout {
  text-decoration: none;
}
.export_layout button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.import_layout {
  text-align: left;
}

.form_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
}
.form_header h2 {
  font-size: 21px;
  font-weight: 600;
}

.sample_download {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}
.sample_download:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .heading_container {
    display: none;
  }
  .header {
    padding: 16px 24px;
  }
}
