.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
}
.header > h2 {
  font-size: 21px;
  font-weight: 600;
}
.header > button {
  height: 100%;
  aspect-ratio: 1/1;
}

.footer {
  display: flex;
  justify-content: start;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  text-align: left;
  gap: 2px;
}
